<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3>Add User :</h3>

<form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">
    <br>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: crimson"></span>

    <br>
    <div style="margin-bottom: 20px;"></div>
    <input type="text" th:field="*{lastName}" id="lastname" placeholder="Last name">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: crimson"></span>

    <br>
    <div style="margin-bottom: 20px;"></div>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: crimson"></span>

    <br>
    <div style="margin-bottom: 20px;"></div>
    <input type="text" th:field="*{username}" id="username" placeholder="User name">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: crimson"></span>

    <br>
    <div style="margin-bottom: 20px;"></div>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: crimson"></span>

<!--    <br>-->
<!--    <div style="margin-bottom: 20px;"></div>-->
<!--    <label>Roles:</label>-->
<!--    <div th:each="role : ${roles}">-->
<!--        <input type="checkbox" th:id="${'role_' + role.id}" th:name="selectedRoles" th:value="${role.id}" />-->
<!--        <label th:for="${'role_' + role.id}" th:text="${role.name}"></label>-->
<!--        <label>Admin</label>-->

<!--        <br>-->
<!--        <div style="margin-bottom: 5px;"></div>-->
<!--        <input type="checkbox" th:id="${'role_' + role.id}" th:name="selectedRoles" th:value="${role.id}" />-->
<!--        <label th:for="${'role_' + role.id}" th:text="${role.name}"></label>-->
<!--        <label>User</label>-->
<!--        <br/>-->
<!--    </div>-->

    <p>
        <label>Roles:
<!--            <input type="checkbox" name="roles"-->
<!--                   th:each="role : ${allRoles}"-->
<!--                   th:text="${role.role}"-->
<!--                   th:value="${role.getRole()}"-->
<!--            />-->

            <div th:each="role : ${allRoles}">
                <input type="checkbox" id="role" th:value="${role.id}" name="roleId">
                <label th:for="role" th:text="${role.role}"></label><br>
            </div>
        </label>
    </p>

<!--    <label>Roles:</label>-->
<!--    <div th:each="role : ${allRoles}">-->
<!--        <input type="checkbox" th:id="${'role_' + role.id}" name="roles" th:value="${role.getRole()}">-->
<!--        <label th:for="${'role_' + role.id}" th:text="${role.role}"></label>-->
<!--    </div>-->

    <br>
    <input type="submit" value="Add">
</form>

<form th:action="@{/logout}" method="post">
    <br>
    <button type="submit">Log out</button>
</form>

</body>
</html>