<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .column-background {
            background-color: #fdfdfd;
            height: 100vh;
        }

        .custom-btn {
            width: 200px;
            height: 50px;
            text-align: left;
        }

    </style>
</head>
<body>


<!-----------------------Navbar--------------------------------->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Имя пользователя -->
        <a class="navbar-brand" id="usernameBrand" href="#"></a>
        <!-- Роли пользователя -->
        <div id="rolesBrand"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-outline-dark text-white" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid px-0">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">


            <button class="nav-link active  custom-btn btn-lg btn-block" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-user" type="button" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">User
            </button>

        </div>
        <div class="tab-content w-100 column-background" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-home-tab"
                 tabindex="0">
                <h2 class="mx-4">User information-page</h2>

                <div class="card mx-4">
                    <div class="card-header fw-bold" style="font-size: 20px">About user</div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <table id="userInformationPage" class="table table-striped text text-start">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //----------------------Update User Information Table-------------
    function updateInformationTable() {
        fetch('/user/user')
            .then(response => response.json())
            .then(user => {
                const tableBody = document.querySelector('#userInformationPage tbody');
                tableBody.innerHTML = '';

                const us = `
                    <tr>
                        <td>${user.id}</td>
                        <td>${user.name}</td>
                        <td>${user.lastName}</td>
                        <td>${user.age}</td>
                        <td>${user.username}</td>
                        <td>${user.roles.map(role => role.role).join(' ')}</td>
                    </tr>
                `;
                tableBody.innerHTML = us;
            })
    }


    //----------------------Update Navbar User------------

    function updateUserDetails(user) {
        // Обновляем имя пользователя
        const usernameBrand = document.getElementById('usernameBrand');
        usernameBrand.textContent = user.username + ' with roles:';

        // Обновляем роли пользователя
        const rolesBrand = document.getElementById('rolesBrand');
        rolesBrand.innerHTML = ''; // Очищаем содержимое
        user.roles.forEach(role => {
            const roleElement = document.createElement('a');
            roleElement.classList.add('navbar-brand');
            roleElement.textContent = role.role;
            rolesBrand.appendChild(roleElement);
        });
    }

    // Функция для получения данных пользователя с сервера и их обновления на странице
    function fetchAndUpdateUserDetails() {
        fetch('/user/user') // Отправляем GET запрос на сервер для получения данных
            .then(response => response.json()) // Преобразуем ответ в JSON
            .then(user => {
                updateUserDetails(user); // Обновляем данные пользователя на странице
            })
    }

    fetchAndUpdateUserDetails();
    updateInformationTable();


</script>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>